{% extends "base.html" %}
{% load static %}


{% block profile_menu %}
  
  {% if user.utente.pfp %}
    <img src="{{ media_root }}{{ user.utente.pfp }}" class="img-fluid rounded-circle me-2" alt="PFP" style="height: 3vh;">
  {% else %}
    <img src="{% static 'images/pfp_empty.png' %}" class="img-fluid rounded-circle me-2" alt="PFP" style="height:3vh;">
  {% endif %}

  {{ user.get_username }}

{% endblock %}


{% block header %}


<div class="d-flex col-7 p-4 m-0">

  <div class="d-flex m-4" style="aspect-ratio : 1 / 1">
    <a href="#modal_pfp" data-bs-toggle="modal" data-bs-target="#modal_pfp" class="d-flex">
      {% if playlist.cover %}
        <img src="{{ media_root }}{{ playlist.cover }}" class="img-fluid playlist pfp border" alt="PFP">
      {% else %}
        <img src="{% static 'images/cover_empty.png' %}" class="img-fluid playlist pfp border" alt="PFP">
      {% endif %}
      </a>
  </div>

  <div class="text-truncate p-4 ps-0 w-100 h-100">
    <h4 class="m-0 p-0" style="height: 15%;">
      <form  method="post" action="{% url 'playlist' user.get_username playlist.id %}" class="">
        {% csrf_token %}
        <input type="hidden" name="_method" value="PUT">
        <input type="hidden" name="_name" value="nome">
        <input type="text" name="nome" value="{{ playlist.nome }}" maxlength="100" onchange="this.form.submit();" class="p-0 m-0 w-100 fw-bold" style="outline: 0; border:0;">
      </form>
   </h4>
    <h5 class="m-0 p-0" style="height: 15%;">#{{ playlist.tag }}</h5>
    <form  class="m-0 p-0" method="post" action="{% url 'playlist' user.get_username playlist.id %}" style="height: 70%;">
      {% csrf_token %}
      <input type="hidden" name="_method" value="PUT">
      <input type="hidden" name="_name" value="desc">
    <textarea name="desc" class="form-control" wrap="hard" maxlength="300" onchange="this.form.submit();" style="height: 100%;">{% if playlist.desc is not None %}{{ playlist.desc }}{% endif %}</textarea>
  </form>
  </div>

</div>






<div class="d-flex col-5 p-4 my-4 align-items-center flex-column border-start">
  
  <div class="px-4 mb-auto col-12">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Canzone, Album o Artista">
      <div class="input-group-append p-0 m-0">
        <button class="btn btn-primary p-0 m-0 search_btn" type="button">
          <h6 class="my-2 px-2">
            <h6 class="my-2 px-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
              </svg>
            </h6>
          </h6>
        </button>
      </div>
    </div>
  </div>

  <div class="row col-12">

    <div class="d-flex row px-4 m-0 col-6 align-items-end">

      <p class="col-12 text-end m-0 w-100">Durata superata</p>

        <button id="add_songs" type="button" class="btn btn-success p-0 col-12"  data-bs-toggle="modal" data-bs-target="#modal_search"><h6 class="my-2">Aggiungi Canzoni</h6></button>

    </div>

    <div class="d-flex row px-4 m-0 col-6 align-items-end">

      <div class="row col-12 p-0 m-0 mb-3">
        
        <form class="col-6 m-0 p-0 pe-2" method="POST" action="{% url 'playlist' user.get_username playlist.id %}">
          {% csrf_token %}
          <input type="hidden" name="_method" value="DELETE">
          <input type="hidden" name="_name" value="playlist">
          <button type="submit" class="btn btn-danger p-0 col-12"><h6 class="my-2">Elimina</h6></button>
        </form>

        <form class="col-6 m-0 p-0 ps-2" method="get" action="{% url 'login' %}">
          <button type="submit" class="btn btn-secondary p-0 col-12"><h6 class="my-2">Esporta</h6></button>
        </form>
      </div>

      <button type="button" class="btn btn-primary p-0 col-12" data-bs-toggle="modal" data-bs-target="#modal_order"><h6 class="my-2">Ordina per Grafici</h6></button>
      
    </div>

  </div>

</div>


<!-- Modals -->
<!-- Playlist Image -->
<div class="modal fade" id="modal_pfp">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-header justify-content-center p-2">
        <h1 class="modal-title text-center fs-5">Cover Playlist</h1>
      </div>
      <div class="row modal-body d-flex justify-content-center text-center p-0 m-0">
        <div class="d-flex col-12 p-0">

          <form  method="post" action="{{ request.path }}" enctype="multipart/form-data" class="d-flex justify-content-center selected col-12 mt-2">
            {% csrf_token %}
            <input type="hidden" name="_method" value="PUT">
            <input type="hidden" name="_name" value="cover">
            <label class="text-primary col-12">
              {{ form.cover }}
              <h6 class="m-0 p-1">Importa</h6>
            </label>

          </form>

        </div>
        <div class="mx-2">
          <hr class="my-2" style="border-top: 1px solid gray;">
        </div>
        <div class="d-flex col-12 p-0">

          <form method="post" action="{{ request.path }}" class="d-flex p-0 justify-content-center selected col-12 ">
            {% csrf_token %}
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_name" value="cover">
            <label class="text-danger col-12 p-0">
              <input type="submit" class="hide"/>
              <h6 class="m-0 p-1">Elimina</h6>
            </label>
          </form>

        </div>
      </div>
      <div class="modal-footer justify-content-center p-0 mt-2">
        <a href="" data-bs-dismiss="modal" class="selected text-center text-reset text-decoration-none col-12 my-2"><h6 class="m-0 p-1">Annulla</h6></a>
      </div>
    </div>
  </div>
</div>

<!-- search songs -->
<div class="modal modal-xl" id="modal_search">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content" style="height: 75vh;">
      
      <div class="modal-body p-4">

        <form method="get" action="{{ request.path }}" class="m-0 p-0" style="height: 15%;" autocomplete="off">
          <input type="hidden" name="_name" value="song">
          <div class="col-12 input-group p-0 m-0">
            <input type="text" class="form-control" name="search" placeholder="Canzone, Album o Artista" value="{{ search }}">
            <div class="input-group-append p-0 m-0">
              <button class="btn btn-primary p-0 m-0 search_btn" type="submit">
                <h6 class="my-2 px-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                  </svg>
                </h6>
              </button>
            </div>
          </div>
        </form>

        <div class="col-12 m-0 p-0" style="height: 85%;">
          <div class="col-12 m-0 p-3 pt-0 h-100 bg-light rounded-2 border divider_shadow_in overflow-auto">
            <!-- track: {id, name, popularity, type,album{id,image,name},artists[{id,name }],artists_string } -->
            {% for track in searched %}
              <div class="row col-12 m-0 p-2 mt-3 bg-white rounded divider_shadow pfp">

                <img src="{{ track.album.image }}" class="col-1 rounded m-0 p-0">

                <div class="col-5 m-0 ps-2">
                  <p class="col-12 m-0"><b>{{ track.name }}</b></p>
                  <p class="col-12 m-0">
                    {{ track.artists_string }}

                  </p>
                </div>

                <div class="col-5 m-0 p-0">
                    aesfwa
                </div>

                <form method="post" action="{{ request.path }}" class="d-flex col-1 m-0  p-0 justify-content-center align-items-center">
                  {% csrf_token %}
                  <input type="hidden" name="_method" value="POST">
                  <input type="hidden" name="_name" value="song">
                  <input type="hidden" name="_track" value="{{ track }}">
                  <button type="submit" class="btn btn-success m-0 p-0 text-center">
                    <h6 class="m-0 p-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                      </svg>
                    </h6>
                  </button>
                </form>

              </div>
            {% endfor %}
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



<!-- order playlist -->
<div class="modal modal-xl" id="modal_order">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content" style="height: 75vh;">
      
      <div class="modal-body p-4">
        <form method="post" action="{{ request.path }}" class="m-0 p-0" style="height: 15%;">
          {% csrf_token %}
          <input type="hidden" name="_method" value="PUT">
          <input type="hidden" name="_name" value="playlist">
          <select class="form-select" name="_param">
            <option value="eff_energy" selected>Energia</option>
            <option value="danceability">Ballabilità</option>
            <option value="valence">Felicità</option>
            <option value="acousticness">Acustica</option>
            <option value="loudness">Volume</option>
          </select>
          <input type="number" name="_p1" max="5" value=1>
          <input type="number" name="_p2" max="5" value=2>
          <input type="number" name="_p3" max="5" value=3>
          <input type="number" name="_p4" max="5" value=4>
          <input type="number" name="_p5" max="5" value=5>

          <button type="submit" class="btn btn-secondary p-0 col-12"><h6 class="my-2">Esporta</h6></button>
        </form>
        

        

      </div>
    </div>
  </div>
</div>
{% endblock %}



{% block content %}

<div class="col-8 p-4 p-sm-5 pe-0 pe-sm-0">
  <div class="row col-12 m-0 p-3 pt-0 bg-light rounded-3 border divider_shadow_in">
    {% for canzone in canzoni %}
      <!-- canzone: {id, nome, image, artists_string } -->
      <div class="row col-12 m-0 p-2 px-0 mt-3 bg-white rounded divider_shadow pfp overflow-hidden">
        <div class="row col-2 m-0 p-0">
          <p class="row col-4 justify-content-center align-items-center m-0 p-0">{{ canzone.ordine }}</p>
            <img src="{{ canzone.image }}" class="col-7 rounded m-0 p-0">
        </div>
        <div class="col-5 m-0 ps-2">
          <p class="nome-canzone col-12 m-0"><b>{{ canzone.nome }}</b></p>
          <p class="artisti-canzone col-12 m-0">
            {{ canzone.artists_string }}
          </p>
        </div>

        <div class="row col-5 m-0 p-0">
            <div class="col-10 m-0 p-1 rounded border">
              <span class="d-block h-100 rounded" style="width:{{ canzone.ordine }}0%;"></span>
            </div>
            <form method="post" action="{{ request.path }}" class="d-flex col-2 m-0 p-0 justify-content-center align-items-center">
              {% csrf_token %}
              <input type="hidden" name="_method" value="DELETE">
              <input type="hidden" name="_name" value="song">
              <input type="hidden" name="_track" value="{{ canzone.id }}">
              <input type="hidden" name="_ordine" value="{{ canzone.ordine }}">
              <button type="submit" class="btn m-0 p-0 border border-0 text-center">
                <h6 class="m-0 p-0">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                  </svg>
                </h6>
              </button>
            </form>
        </div>

        

      </div>

    {% endfor %}
</div>
</div>


<div class="col-4 p-4 p-sm-5 ">
  sawd
  <div class="row col-12 m-0 p-3 bg-light rounded-3 border divider_shadow_in">
{% for playlist in playlists %}
  <div class="col-6 col-md-15 px-0 mb-2" style="aspect-ratio : 1 / 1">
    <div class="p-3 pb-0" style="aspect-ratio : 1 / 1">
      <a href="{% url 'playlist' user.get_username playlist.id %}" class="" >
        {% if playlist.cover %}
          <img src="{{ media_root }}{{ playlist.cover }}" class="img-fluid playlist divider_shadow photo" alt="PFP">
        {% else %}
          <img src="{% static 'images/cover_empty.png' %}" class="img-fluid playlist divider_shadow photo" alt="PFP">
        {% endif %}
      </a>
      <h6 class="mt-2 px-4 playlist-title ">{{ playlist.nome }}</h6>
    </div>

  </div>
{% endfor %}
</div>
</div>
{% endblock %}



{% block scripts %}
{% if search %}
<script>
  window.onload = function() {
    document.getElementById("add_songs").click();
  };
</script>
{% endif %}
{% endblock %}
