{% extends "base.html" %}
{% load static %}


{% block profile_menu %}
  
  {% if user.utente.pfp %}
    <img src="{{ media_root }}{{ user.utente.pfp }}" class="img-fluid rounded-circle me-2" alt="PFP" style="height: 3vh;">
  {% else %}
    <img src="{% static 'images/pfp_empty.png' %}" class="img-fluid rounded-circle me-2" alt="PFP" style="height:3vh;">
  {% endif %}

  {{ user.get_username }}

{% endblock %}


{% block header %}


<div class="d-flex col-7 p-4 m-0">

  <div class="d-flex m-4" style="aspect-ratio : 1 / 1">
    <a href="#modal_pfp" data-bs-toggle="modal" data-bs-target="#modal_pfp" class="d-flex">
      {% if playlist.cover %}
        <img src="{{ media_root }}{{ playlist.cover }}" class="img-fluid playlist pfp border" alt="PFP">
      {% else %}
        <img src="{% static 'images/cover_empty.png' %}" class="img-fluid playlist pfp border" alt="PFP">
      {% endif %}
      </a>
  </div>

  <div class="text-truncate p-4 ps-1 w-100 h-100">
    <h4 class="m-0 p-0" style="height: 15%;">
      <form  method="post" action="{% url 'playlist' user.get_username playlist.id %}" class="">
        {% csrf_token %}
        <input type="hidden" name="_method" value="PUT">
        <input type="hidden" name="_name" value="nome">
        <input type="text" name="nome" value="{{ playlist.nome }}" maxlength="100" onchange="this.form.submit();" class="p-0 m-0 w-100 fw-bold" style="outline: 0; border:0;">
      </form>
    </h4>
    <div class="row col-12 m-0 py-2" style="height: 25%;">
      <form method="post" action="{% url 'playlist' user.get_username playlist.id %}" class="p-0 m-0 col-4 h-100">
        {% csrf_token %}
        <input type="hidden" name="_method" value="PUT">
        <input type="hidden" name="_name" value="tag">
        <select class="form-select h-100" name="tag" onchange="this.form.submit()">
          <option value="libero" {% if tag.libero %} selected {% endif %}>#libero</option>
          <option value="sport" {% if tag.sport %} selected {% endif %}>#sport</option>
          <option value="viaggio" {% if tag.viaggio %} selected {% endif %}>#viaggio</option>
        </select>
      </form>

      {% if tag.sport %}
        <form method="post" action="{% url 'playlist' user.get_username playlist.id %}" class="row align-items-center m-0 p-0 ps-2 col-8 h-100">
          {% csrf_token %}
          <input type="hidden" name="_method" value="PUT">
          <input type="hidden" name="_name" value="energy_min">
          <label class="col-6 m-0 p-0 pe-2 text-end">Energia minima:</label>
          <div class="col-6 h-100 m-0 p-0 pe-1">
            <input type="number" class="form-control h-100" name="_energy" value="{{ playlist.energia_min }}" onchange="this.form.submit()">
          </div>
        </form>
      {% endif %}

      {% if tag.viaggio %}
        <form method="post" action="{% url 'playlist' user.get_username playlist.id %}" class="row align-items-center m-0 p-0 ps-2 col-8 h-100">
          {% csrf_token %}
          <input type="hidden" name="_method" value="PUT">
          <input type="hidden" name="_name" value="duration_min">
          <label class="m-0 p-0 pe-2 col-5 text-end">Durata viaggio</label>
          <div class="row align-items-center col-7 h-100 m-0 p-0">
            <div class="col-5 h-100 m-0 p-0 pe-1">
              <input type="number" class="form-control h-100" name="_hours" min=0 placeholder="hh" value="{{ hours_min }}" onchange="this.form.submit()">
            </div>
            <label class="m-0 p-0 col-1 text-center">h</label>
            <div class="col-5 h-100 m-0 p-0 px-1">
              <input type="number" class="form-control h-100" name="_minutes" min=0 max="59" placeholder="mm" value="{{ minutes_min }}" onchange="this.form.submit()">
            </div>
            <label class="m-0 p-0 col-1 text-center">m</label>
          </div>
          
        </form>
      {% endif %}
      
    </div>
    
    
    <form  class="m-0 p-0" method="post" action="{% url 'playlist' user.get_username playlist.id %}" style="height: 60%;">
      {% csrf_token %}
      <input type="hidden" name="_method" value="PUT">
      <input type="hidden" name="_name" value="desc">
    <textarea name="desc" class="form-control m-0 p-2 h-100" wrap="hard" maxlength="300" onchange="this.form.submit();" >{% if playlist.desc is not None %}{{ playlist.desc }}{% endif %}</textarea>
  </form>
  </div>

</div>






<div class="d-flex col-5 p-4 my-4 align-items-center flex-column border-start">
  
  <div class="px-4 mb-auto col-12">
    
  </div>

  <div class="row col-12">

    <div class="d-flex row px-4 m-0 col-6 align-items-end">
      {% if superata %}
        <label class="col-12 text-end m-0 w-100 text-success"><b>Durata: {{ hours }}h {{ minutes }}m {{ seconds|floatformat:0 }}s</b></label>
      {% else %}
        <label class="col-12 text-end m-0 w-100">Durata: {{ hours }}h {{ minutes }}m {{ seconds|floatformat:0 }}s</label>
      {% endif %}
      <button id="add_songs" type="button" class="btn btn-success p-0 col-12"  data-bs-toggle="modal" data-bs-target="#modal_search"><h6 class="my-2">Aggiungi Canzoni</h6></button>

    </div>

    <div class="d-flex row px-4 m-0 col-6 align-items-end">

      <div class="row col-12 p-0 m-0 mb-3">
        
        <form class="col-6 m-0 p-0 pe-2" method="post" action="{% url 'playlist' user.get_username playlist.id %}">
          {% csrf_token %}
          <input type="hidden" name="_method" value="DELETE">
          <input type="hidden" name="_name" value="playlist">
          <button type="submit" class="btn btn-danger p-0 col-12"><h6 class="my-2">Elimina</h6></button>
        </form>

        <form class="col-6 m-0 p-0 ps-2" method="get" action="{% url 'login' %}">
          <button type="submit" class="btn btn-secondary p-0 col-12"><h6 class="my-2">Esporta</h6></button>
        </form>
      </div>

      <button type="button" class="btn btn-primary p-0 col-12" data-bs-toggle="modal" data-bs-target="#modal_order"><h6 class="my-2">Ordina per Grafici</h6></button>
      
    </div>

  </div>

</div>


<!-- Modals -->
<!-- Playlist Image -->
<div class="modal fade" id="modal_pfp">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-header justify-content-center p-2">
        <h1 class="modal-title text-center fs-5">Cover Playlist</h1>
      </div>
      <div class="row modal-body d-flex justify-content-center text-center p-0 m-0">
        <div class="d-flex col-12 p-0">

          <form  method="post" action="{{ request.path }}" enctype="multipart/form-data" class="d-flex justify-content-center selected col-12 mt-2">
            {% csrf_token %}
            <input type="hidden" name="_method" value="PUT">
            <input type="hidden" name="_name" value="cover">
            <label class="text-primary col-12">
              {{ form.cover }}
              <h6 class="m-0 p-1">Importa</h6>
            </label>

          </form>

        </div>
        <div class="mx-2">
          <hr class="my-2" style="border-top: 1px solid gray;">
        </div>
        <div class="d-flex col-12 p-0">

          <form method="post" action="{{ request.path }}" class="d-flex p-0 justify-content-center selected col-12 ">
            {% csrf_token %}
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_name" value="cover">
            <label class="text-danger col-12 p-0">
              <input type="submit" class="hide"/>
              <h6 class="m-0 p-1">Elimina</h6>
            </label>
          </form>

        </div>
      </div>
      <div class="modal-footer justify-content-center p-0 mt-2">
        <a href="" data-bs-dismiss="modal" class="selected text-center text-reset text-decoration-none col-12 my-2"><h6 class="m-0 p-1">Annulla</h6></a>
      </div>
    </div>
  </div>
</div>

<!-- search songs -->
<div class="modal modal-xl" id="modal_search">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content" style="height: 75vh;">
      
      <div class="modal-body p-4">

        <form method="get" action="{{ request.path }}" class="m-0 p-0" style="height: 10%;" autocomplete="off">
          <input type="hidden" name="name" value="song">
          <div class="col-12 input-group p-0 m-0">
            <input type="text" class="form-control" name="search" placeholder="Canzone, Album o Artista" value="{{ search }}">
            <div class="input-group-append p-0 m-0">
              <button class="btn btn-primary p-0 m-0 search_btn" type="submit">
                <h6 class="my-2 px-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                  </svg>
                </h6>
              </button>
            </div>
          </div>
        </form>

        <div class="col-12 m-0 p-0" style="height: 90%;">
          <div class="col-12 m-0 p-3 pt-0 h-100 bg-light rounded-2 border divider_shadow_in overflow-auto">
            <!-- track: {id, name, popularity, type,duration,feature,feature_perc,artists_string } -->
            {% for track in searched %}

              <div class="row col-12 m-0 p-2 mt-3 {% if track.feature >= playlist.energia_min %}bg-white{% else %}bg-gray{% endif %} rounded divider_shadow pfp">

                <img src="{{ track.album.image }}" class="col-1 rounded m-0 p-0">

                <div class="col-5 m-0 ps-2">
                  <p class="col-12 m-0 nome-canzone"><b>{{ track.name }}</b></p>
                  <p class="col-12 m-0 artisti-canzone">
                    {{ track.artists_string }}
                  </p>
                </div>

                <div class="col-5 m-0 p-0">
                    
                </div>

                <form method="post" action="{{ request.path }}" class="d-flex col-1 m-0  p-0 justify-content-center align-items-center">
                  {% csrf_token %}
                  <input type="hidden" name="_method" value="POST">
                  <input type="hidden" name="_name" value="song">
                  <input type="hidden" name="_track" value="{{ track }}">
                  <button type="submit" class="btn btn-success m-0 p-0 text-center">
                    <h6 class="m-0 p-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                      </svg>
                    </h6>
                  </button>
                </form>

              </div>
            {% endfor %}
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



<!-- order playlist -->
<div class="modal modal-xl" id="modal_order">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content" style="height: 75vh;">
      
      <div class="modal-body p-4">
        <form method="post" action="{% url 'playlist' user.get_username playlist.id %}" class="row justify-content-center m-0 p-0" style="height: 100%;">
          {% csrf_token %}
          <input type="hidden" name="_method" value="PUT">
          <input type="hidden" name="_name" value="playlist">
          <div class="col-12 p-4 pb-0" style="height: 75%;">
            <div class="col-12 m-0 p-0 h-100 bg-light rounded-3 border divider_shadow_in">
              <div class="m-0 p-3 pb-0" style="height:10%;">
                <select class="form-select" name="_param">
                  <option value="eff_energy" {% if param.eff_energy %} selected {% endif %}>Energia</option>
                  <option value="danceability" {% if param.danceability %} selected {% endif %}>Ballabilità</option>
                  <option value="valence" {% if param.valence %} selected {% endif %}>Felicità</option>
                  <option value="acousticness" {% if param.acousticness %} selected {% endif %}>Acustica</option>
                  <option value="loudness" {% if param.loudness %} selected {% endif %}>Volume (dB)</option>
                </select>
              </div>
              <div class="m-0 p-0 pt-3 pe-4" style="height:90%;">
                <canvas class="m-0 p-0" id="order_graph"></canvas>
              </div>
            </div>
          </div>
          <div class="row col-12 p-4" style="height: 10%;">
            <div class="col-15 px-3">
              <select class="form-select" name="_p1" onchange="change_order_graph();">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
            <div class="col-15 px-3">
              <select class="form-select" name="_p2" onchange="change_order_graph();">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
            <div class="col-15 px-3">
              <select class="form-select" name="_p3" onchange="change_order_graph();">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
            <div class="col-15 px-3">
              <select class="form-select" name="_p4" onchange="change_order_graph();">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
            <div class="col-15 px-3">
              <select class="form-select" name="_p5" onchange="change_order_graph();">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
          </div>
          <div class="col-12 p-4" style="height: 10%;">
            <button type="submit" class="btn btn-primary p-0 col-12"><h6 class="my-2">Ordina</h6></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}



{% block content %}

<div class="col-8 p-4 p-sm-5 pe-0 pe-sm-0" style="width: 66%;">
  <div class="row col-12 m-0 p-3 pt-0 bg-light rounded-3 border divider_shadow_in">
    {% for canzone in canzoni %}
      <!-- canzone: {id, nome, image, artists_string } -->
      <div class="row col-12 m-0 p-2 px-0 mt-3 {% if canzone.feature >= playlist.energia_min or not param.eff_energy %}bg-white{% else %}bg-gray{% endif %} rounded divider_shadow pfp overflow-hidden">
        <div class="row col-2 m-0 p-0">
          <p class="row col-7 justify-content-center align-items-center m-0 p-0">{{ canzone.ordine }}</p>
          <img src="{{ canzone.image }}" class="col-5 rounded m-0 p-0">
        </div>
        <div class="col-5 m-0 ps-2">
          <p class="nome-canzone col-12 m-0"><b>{{ canzone.nome }}</b></p>
          <p class="artisti-canzone col-12 m-0">
            {{ canzone.artists_string }}
          </p>
        </div>

        <div class="row col-5 m-0 p-0">
            <div class="col-10 m-0 p-1 rounded border">
              <span class="d-flex h-100 rounded text-dark p-2 align-items-center" style="width: {{canzone.feature_perc}}%;"><b>{{canzone.feature|floatformat:2}}</b></span>
            </div>
            <form method="post" action="{{ request.path }}" class="d-flex col-2 m-0 p-0 justify-content-center align-items-center">
              {% csrf_token %}
              <input type="hidden" name="_method" value="DELETE">
              <input type="hidden" name="_name" value="song">
              <input type="hidden" name="_track" value="{{ canzone.id }}">
              <input type="hidden" name="_ordine" value="{{ canzone.ordine }}">
              <button type="submit" class="btn m-0 p-0 border border-0 text-center">
                <h6 class="m-0 p-0">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                  </svg>
                </h6>
              </button>
            </form>
        </div>

      </div>

    {% endfor %}
</div>
</div>


<div class="col-4 p-4 p-sm-5 pb-sm-0 me-0" style="width: 34%;">
  <div class="col-12 m-0 p-0 bg-light  rounded-3 border divider_shadow_in" style="height:35vh;">
    <div class="m-0 p-3 pb-0" style="height:20%;">
      <select class="form-select" onchange="document.location.href = `{% url 'playlist' user.get_username playlist.id %}/` + this.value">
        <option value="eff_energy" {% if param.eff_energy %} selected {% endif %}>Energia</option>
        <option value="danceability" {% if param.danceability %} selected {% endif %}>Ballabilità</option>
        <option value="valence" {% if param.valence %} selected {% endif %}>Felicità</option>
        <option value="acousticness" {% if param.acousticness %} selected {% endif %}>Acustica</option>
        <option value="loudness" {% if param.loudness %} selected {% endif %}>Volume (dB)</option>
      </select>
    </div>
    <div class="m-0 p-0 pt-2 pe-4" style="height:80%;">
      <canvas class="m-0 p-0" id="graph"></canvas>
    </div>
  </div>
</div>

{% endblock %}



{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script type="text/javascript">
  const ctx = document.getElementById("graph");

  new Chart(ctx, {
    type: 'line',
    data: {
      labels: [{% for l in labels %} '{{ l }}', {% endfor %}],
      datasets: [
      {% if playlist.energia_min and param.eff_energy %}
      {
        data: [{% for l in features %} '{{ playlist.energia_min }}', {% endfor %}],
        borderColor: "rgba(212, 212, 212, 0.7)",
        borderWidth: 2,
        fill: true,
        backgroundColor: "rgba(212,212,212,0.6)"
      },{% endif %}
        {
        data: [{% for l in features %} '{{ l }}', {% endfor %}],
        borderColor: "rgba(0, 168, 107, 1)",
        borderWidth: 4,
        fill: true,
        backgroundColor: "rgba(0, 168, 107, 0.5)"
      }]
    },
    options: {
      responsive: true,
maintainAspectRatio: false,
      elements: {
        point:{
          radius: 0
        }
      },
      tension:0.5,
      scales: {
        x: {
          grid: {
            display: false
          }
        },
        y: {
          beginAtZero: true
        }
      },
      plugins: {
        legend: {
          display: false
        }
      }
    }
  });
</script>

<script type="text/javascript">
  const ctx_order = document.getElementById("order_graph");
  const _p1 = document.getElementsByName("_p1")[0];
  const _p2 = document.getElementsByName("_p2")[0];
  const _p3 = document.getElementsByName("_p3")[0];
  const _p4 = document.getElementsByName("_p4")[0];
  const _p5 = document.getElementsByName("_p5")[0];
  let graph = 0;
  const change_order_graph = () => {
    if (graph){graph.destroy()}
    graph = new Chart(ctx_order, {
      type: 'line',
      data: {
        labels: [{% for i in '12345'|make_list %} '{{ i }}', {% endfor %}],
        datasets: [{
          data: [{% for i in '12345'|make_list %} _p{{ i }}.value, {% endfor %}],
          borderColor: "rgba(64, 181, 173, 1)",
          borderWidth: 4,
          fill: true,
          backgroundColor: "rgba(64, 181, 173, 0.5)"
        }]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        tension:0.4,
        scales: {

          y: {
            beginAtZero: true,
            min:0,
            max:6,
            ticks: {
              stepSize: 1
            }
          }
        },
        plugins: {
          legend: {
            display: false
          }
        },
      }
    });
  };
  change_order_graph();
</script>

{% if search %}
<script>
  window.onload = function() {
    document.getElementById("add_songs").click();
  };
</script>
{% endif %}

{% endblock %}
